.path-mod-assign [data-region="grade-panel"] .fitem.has-popout {
  padding: 0;
}

/* Aplica apenas dentro do Advanced Grading */
#rubric-advancedgrading .criterion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.6rem;
  border-radius: 16px;
  /* 🔹 Borda translúcida com efeito vidro */
  border: 2px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.15); /* Suave transparência */
  backdrop-filter: blur(15px) saturate(150%);
  -webkit-backdrop-filter: blur(15px) saturate(150%);

  /* 🔹 Suave sombra para destacar */
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.1);

  /* 🔹 Contorno externo para destacar o vidro */
  outline: 1px solid rgba(255, 255, 255, 0.2);
}

#rubric-advancedgrading #advancedgrading-criteria > tbody {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1rem;
  gap: 2rem;
}

.gradingform_rubric .criterion.even td,
.gradingform_rubric .criterion.odd td {
  background-color: white;
}

/* Ajusta as células internas para que ocupem toda a largura */
#rubric-advancedgrading .criterion > td {
  display: flex;
  flex-direction: row;
}

/* Containers dos níveis da rubrica */
#rubric-advancedgrading .levels {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#rubric-advancedgrading .levels tr {
  display: flex;
  flex-direction: row;
  place-content: center;
  width: 100%;
  gap: 0.3rem !important;
}

/* opção/alternativa dos níveis da rubrica */
#rubric-advancedgrading .level {
  flex: 1;
  text-align: center;
  place-content: center;
  font-size: 0.75rem;
  padding: 0.3rem;
  margin: 0.5rem 0;
  border-radius: 6px !important;
  /* 🔹 Borda translúcida com efeito vidro */
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.15); /* Suave transparência */
  backdrop-filter: blur(15px) saturate(150%);
  -webkit-backdrop-filter: blur(15px) saturate(150%);

  /* 🔹 Suave sombra para destacar */
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.1);

  /* 🔹 Contorno externo para destacar o vidro */
  outline: 1px solid rgba(255, 255, 255, 0.2);
}

/* level hover */
#rubric-advancedgrading .level:hover {
  border-radius: 6px;
  background-color: #e6e6e6;
  cursor: pointer;
}

/* level check */
#rubric-advancedgrading .levels .currentchecked {
  border-radius: 6px;
  background: #ec9c9c40;
  color: #343a40;
}

/* level check */
#rubric-advancedgrading .levels .checked {
  border-radius: 6px;
  background: #0579d3;
  color: white;
}

#rubric-advancedgrading .score {
  margin: 0;
  text-align: center;
}

#rubric-advancedgrading .currentchecked .score {
  color: #343a40;
}

#rubric-advancedgrading .checked .score {
  color: white;
}

#rubric-advancedgrading > table > tbody > tr > .remark {
  display: none;
}

#rubric-advancedgrading > table > tbody > tr > .description {
  width: 100%;
  text-align: justify;
  margin-bottom: 1rem;
}
